<% if @is_read %>
  <div class="result_form">
    <p>検証結果</p>
    <div class="replase_result">
      <% if !@result.to_s.empty? %>
        <p class="result_message">Match: <%= @result %></p>
      <% else %>
        <p>no match</p>
      <% end %>
    </div>
  </div>
<% else %>
<% end %>