<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
  </head>
  <title>正規表現チェッカー</title>
  <body>
   <div class="input_regix">
      <p>正規表現を入れてください</p>
    <div class="input_regix_field">
      <input type="text" placeholder="/正規表現/">
    </div>
    <div class="input_replased">
      <p>置換したい文字を入れてください</p>
    </div>
    <div class="input_replased_field">
      <input type="text" placeholder="置換したい文字">
    </div>
    <div class="replase_button">
      <input type="button" value="置換します" style="margin-top: 15px; width: 100px; heigjt: 30px;">
    </div>
    <div class="replase_result">
      <p>結果</p>
      <p class="result" style="border:#ff0000 solid 1px; width: 300px; height: 100px"><p>
    </div>
    </body>
</html>