<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" href="css/styles.css">
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</head>
<title>正規表現チェッカー</title>
<body>

<h1>Ruby 正規表現チェッカー </h1>
<p class="context">これはRubyの正規表現チェッカーです。開発、テスト用にご自由にお使いください。</p>
<%= erb :'_reference_table' %>
<%= erb :'_form' %>
<%= erb :'_result_area' %>

<!--サンプル-->

</body>
</html>