* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

h1 {
    background-color: darkred;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid black;
}

table {
    border-collapse: collapse;
}

.context {
    margin-top: 15px;
    text-align: center;
}

.refelence {
    float: right;
    display: inline-block;
    padding-top: 50px;
    width: 60%;
    height: 300px;
}

.input_regix > p {
    text-decoration: underline;
}

.input_something {
    padding-top: 50px;
    padding-left: 100px;
}

.input_option {
    float: left;
}

#option_checkbox {
    display: none;
}

.input_replased {
    display: none;
}

#input_option {
    display: none;
    width: 30px;
}
.object_text {
    text-align: left;
    padding-top: 35px;
}

.object_text > p {
    text-decoration: underline;
}

.replase_button {
    padding-bottom: 30px;
    margin-top: 15px;
    width: 100px;
    heigjt: 50px;
}

.replase_result {
    background-color: lightgray;
    text-align: center;
    margin: 0 auto;
    width: 650px;
    line-height: 75px;
}

.result_message {
    color: black;
}

.result {
    text-align: center;
}

.result_form > p {
    margin-left: 50%;
}

.refelence > p {
    text-align: center;
    font-size: 20px;
}

th {
    background-color: darkred;
}

td:nth-child(2n+1) {
    background-color: lightgray;
    text-align: center;
}

textarea {
    background-color: lightgray;
    resize: none;
    width: 25%;
    height: 150px;
}

input[type="text"] {
    background-color: lightgray;
    width: 20%;
    height: 25px;
}

